<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="RoleJurisdictionInfoMapper">

	<!--所有表的ID要带mapper文件的前缀名-->

	<sql id="where">
		<where>

			<if test="null != RoleJurisdictionInfo_id and RoleJurisdictionInfo_id != ''">
				AND id = #{RoleJurisdictionInfo_id}
			</if>

			<if test="null != role_Id and role_Id != ''">
				AND role_Id = #{role_Id}
			</if>

			<if test="null != meun_Id and meun_Id != ''">
				AND meun_Id = #{meun_Id}
			</if>

			<if test="null != role_Jurisdiction_Remark and role_Jurisdiction_Remark != ''">
				AND role_Jurisdiction_Remark = #{role_Jurisdiction_Remark}
			</if>

		</where>
	</sql>

	<sql id="whereForEach">
		<where>

			<if test="$MoreFlg == 'more'">
				AND
				<foreach collection="role_Ids" item="item" open="role_Id in(" close=")" separator=",">
					#{item}
				</foreach>
			</if>

		</where>
	</sql>

	<sql id="field">
		id
		,role_Id
		,meun_Id
		,role_Jurisdiction_Remark
	</sql>

	<select id="selectInfo" parameterType="map" resultType="map">
		SELECT
		<include refid="field"></include>
		FROM role_jurisdiction
		<include refid="where"></include>
	</select>

	<select id="selectInfoForEach" parameterType="map" resultType="map">
		SELECT
		<include refid="field"></include>
		FROM role_jurisdiction
		<include refid="where"></include>
	</select>

	<delete id="deleteForeach" parameterType="map">
		DELETE FROM role_jurisdiction
		<where>
			AND
			<if test='$MoreFlg == "more"'>
				<foreach collection="role_Ids" item="item" open="role_Id in(" close=")" separator=",">
					#{item.id}
				</foreach>
			</if>
		</where>
	</delete>

	<insert id="insertInfoForForeache" parameterType="map">
		INSERT INTO role_jurisdiction
		(
			role_Id
			,meun_Id
			,role_Jurisdiction_Remark
		) VALUES 
			<foreach collection="role_Info" item="item" open="" close=";" separator=",">
				(#{item.role_Id},#{item.id},#{item.meun_Name})
			</foreach>
	</insert>
</mapper>
