<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="GoodsUseInfoMapper">

    <!--所有表的ID要带mapper文件的前缀名-->

    <sql id="where">
        <where>
            <if test="null != id and id != ''">
                AND goods_use_info.id = #{id}
            </if>
            <if test="null != goods_Type_Id and goods_Type_Id != ''">
                AND goods_use_info.goods_Type_Id = #{goods_Type_Id}
            </if>
            <if test="null != storage_Room_Id and storage_Room_Id != ''">
                AND goods_use_info.storage_Room_Id = #{storage_Room_Id}
            </if>
            <if test="null != goods_Id and goods_Id != ''">
                AND goods_use_info.goods_Id = #{goods_Id}
            </if>
            <if test="null != goods_use_Count and goods_use_Count != ''">
                AND goods_use_info.goods_use_Count = #{goods_use_Count}
            </if>
            <if test="null != use_Date and use_Date != ''">
                AND goods_use_info.use_Date = #{use_Date}
            </if>
            <if test="null != goods_use_User_Name and goods_use_User_Name != ''">
                AND goods_use_info.goods_use_User_Name = #{goods_use_User_Name}
            </if>
            <if test="null != goods_use_Content and goods_use_Content != ''">
                AND goods_use_info.goods_use_Content = #{goods_use_Content}
            </if>
            <if test="null != goods_use_Remark and goods_use_Remark != ''">
                AND goods_use_info.goods_use_Remark = #{goods_use_Remark}
            </if>
        </where>
    </sql>

    <sql id="wherePage">
        <where>
            <if test="null != pd.id and pd.id != ''">
                AND goods_use_info.id = #{pd.id}
            </if>
            <if test="null != pd.goods_Type_Id and pd.goods_Type_Id != ''">
                AND goods_use_info.goods_Type_Id = #{pd.goods_Type_Id}
            </if>
            <if test="null != pd.storage_Room_Id and pd.storage_Room_Id != ''">
                AND goods_use_info.storage_Room_Id = #{pd.storage_Room_Id}
            </if>
            <if test="null != pd.goods_Id and pd.goods_Id != ''">
                AND goods_use_info.goods_Id = #{pd.goods_Id}
            </if>
            <if test="null != pd.goods_use_Count and pd.goods_use_Count != ''">
                AND goods_use_info.goods_use_Count = #{pd.goods_use_Count}
            </if>
            <if test="null != pd.use_Date and pd.use_Date != ''">
                AND goods_use_info.use_Date = #{pd.use_Date}
            </if>
            <if test="null != pd.goods_use_User_Name and pd.goods_use_User_Name != ''">
                AND goods_use_info.goods_use_User_Name = #{pd.goods_use_User_Name}
            </if>
            <if test="null != pd.goods_use_Content and pd.goods_use_Content != ''">
                AND goods_use_info.goods_use_Content = #{pd.goods_use_Content}
            </if>
            <if test="null != pd.goods_use_Remark and pd.goods_use_Remark != ''">
                AND goods_use_info.goods_use_Remark = #{pd.goods_use_Remark}
            </if>
        </where>
    </sql>

    <sql id="fieldLeft">
        goods_use_info.id AS id
        ,goods_use_info.goods_Type_Id AS goods_Type_Id
        ,goods_use_info.storage_Room_Id AS storage_Room_Id
        ,goods_use_info.goods_Id AS goods_Id
        ,goods_use_info.goods_use_Count AS goods_use_Count
        ,goods_use_info.use_Date AS use_Date
        ,goods_use_info.goods_use_User_Name AS goods_use_User_Name
        ,goods_use_info.goods_use_Content AS goods_use_Content
        ,goods_use_info.goods_use_Remark AS goods_use_Remark
    </sql>

    <sql id="setUpd">
        <set>
            <if test="null != goods_Type_Id and goods_Type_Id != ''">
                goods_Type_Id = #{goods_Type_Id},
            </if>
            <if test="null != storage_Room_Id and storage_Room_Id != ''">
                storage_Room_Id = #{storage_Room_Id},
            </if>
            <if test="null != goods_Id and goods_Id != ''">
                goods_Id = #{goods_Id},
            </if>
            <if test="null != goods_use_Count and goods_use_Count != ''">
                goods_use_Count = #{goods_use_Count},
            </if>
            <if test="null != use_Date and use_Date != ''">
                use_Date = #{use_Date},
            </if>
            <if test="null != goods_use_User_Name and goods_use_User_Name != ''">
                goods_use_User_Name = #{goods_use_User_Name},
            </if>
            <if test="null != goods_use_Content and goods_use_Content != ''">
                goods_use_Content = #{goods_use_Content},
            </if>
            <if test="null != goods_use_Remark and goods_use_Remark != ''">
                goods_use_Remark = #{goods_use_Remark},
            </if>
        </set>
    </sql>

    <select id="selectInfo" parameterType="map" resultType="map">
        SELECT
        <include refid="fieldLeft"></include>

        ,goods_type_info.goods_Type_Name AS goods_Type_Name
        ,goods_storage_room_info.storage_Room_Name AS storage_Room_Name
        ,goods_info.goods_Name AS goods_Name_Show

        FROM goods_use_info AS goods_use_info

        INNER JOIN goods_type_info AS goods_type_info ON goods_type_info.id = goods_use_info.goods_Type_Id
        INNER JOIN goods_storage_room_info AS goods_storage_room_info ON goods_storage_room_info.id = goods_use_info.storage_Room_Id
        INNER JOIN goods_info AS goods_info ON goods_info.id = goods_use_info.goods_Id

        <include refid="where"></include>
    </select>

    <select id="getListByParamsByPage" parameterType="com.springmvc.model.Page" resultType="com.springmvc.tools.PageData">
        SELECT
        <include refid="fieldLeft"></include>
        ,goods_type_info.goods_Type_Name AS goods_Type_Name
        ,goods_storage_room_info.storage_Room_Name AS storage_Room_Name
        ,goods_info.goods_Name AS goods_Name_Show
        FROM goods_use_info AS goods_use_info
        INNER JOIN goods_type_info AS goods_type_info ON goods_type_info.id = goods_use_info.goods_Type_Id
        INNER JOIN goods_storage_room_info AS goods_storage_room_info ON goods_storage_room_info.id = goods_use_info.storage_Room_Id
        INNER JOIN goods_info AS goods_info ON goods_info.id = goods_use_info.goods_Id
        <include refid="wherePage"></include>
    </select>

    <!--mysql当前日期函数    now()-->
    <insert id="insertInfo" parameterType="map">
        INSERT INTO goods_use_info
        (
        goods_Type_Id
        <if test="null != storage_Room_Id and storage_Room_Id != ''">
            ,storage_Room_Id
        </if>
        <if test="null != goods_Id and goods_Id != ''">
            ,goods_Id
        </if>
        <if test="null != goods_use_Count and goods_use_Count != ''">
            ,goods_use_Count
        </if>
        <if test="null != use_Date and use_Date != ''">
            ,use_Date
        </if>
        <if test="null != goods_use_User_Name and goods_use_User_Name != ''">
            ,goods_use_User_Name
        </if>
        <if test="null != goods_use_Content and goods_use_Content != ''">
            ,goods_use_Content
        </if>
        <if test="null != goods_use_Remark and goods_use_Remark != ''">
            ,goods_use_Remark
        </if>
        ) VALUES (
        #{goods_Type_Id}
        <if test="null != storage_Room_Id and storage_Room_Id != ''">
            ,#{storage_Room_Id}
        </if>
        <if test="null != goods_Id and goods_Id != ''">
            ,#{goods_Id}
        </if>
        <if test="null != goods_use_Count and goods_use_Count != ''">
            ,#{goods_use_Count}
        </if>
        <if test="null != use_Date and use_Date != ''">
            ,#{use_Date}
        </if>
        <if test="null != goods_use_User_Name and goods_use_User_Name != ''">
            ,#{goods_use_User_Name}
        </if>
        <if test="null != goods_use_Content and goods_use_Content != ''">
            ,#{goods_use_Content}
        </if>
        <if test="null != goods_use_Remark and goods_use_Remark != ''">
            ,#{goods_use_Remark}
        </if>
        )
    </insert>

    <!--写死根据id更新-->
    <update id="updateInfo" parameterType="map">
        UPDATE goods_use_info
        <include refid="setUpd"></include>
        <where>
            <if test="null != id and id != ''">
                AND id = #{id}
            </if>
        </where>
    </update>

    <!--写死根据id删除-->
    <delete id="deleteInfo" parameterType="map">
        DELETE FROM goods_use_info
        <where>
            AND id = #{id}
        </where>
    </delete>

</mapper>
